
/* Header & Footer */


.headerFooterColor {
  background-color: rgb(30, 52, 69);
  color: rgb(255, 255, 255);
}

.footer {
  position: relative;
  background-color: rgb(30, 52, 69);
  color: rgb(255, 255, 255);
}

.footer .row {
  margin: 0;
}

.footer__contact {
  padding: 16px 0 0 16px;
}

.footer__copyright {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
}

.footer__icons {
  padding: 16px 16px 0 0;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.iconsRight {
  justify-content: flex-end;
}

.icon {
  width: 60px;
  height: 60px;
  padding: 4px;
}

.text-size {
  font-size: 12px;
  line-height: 0.3;
}

.row .copyright {
  text-align: center;
}

/* Property Info Box */
.propertyinfoBoxContainer {
  display: flex;
  height: 200px;
  flex-direction: column;
  border-color:rgb(30, 52, 69);
  border-width: 1px;
  border-radius: 10;
  padding: 2em;
}

.propertyInfoBoxTextContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  font-size: x-small;
  justify-content: space-around;

}

.imageContainerPropertyInfoBox {
  width: 200px;
  align-self: center;
  margin: 1em;
}

.imageInInfoBox {
  width: 260px;
  align-self: center;
  object-fit: cover;
}

/* Property Page */
.imageInCarouselContainer{
  width: 400px;
  height: 400px;
  object-fit: cover;
  margin: 1em;
}


/* Signup / Login design */
.boxShadowed {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-top: 30px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/*------------------------*/


.mapContainer {
  align-content: 'start';
  justify-content: 'center'
}

.buttonSizer {
  width: 100px;
  height: 40px;
  font-size: small
}

.marginTop {
  margin-top: 1.5em;
}

.marginTopMed {
  margin-top: 4em;
}

.marginBottomMed {
  margin-bottom: 3em;
}

.centerSelf {
  align-self: center;
  justify-self: center;
  text-align: center;
}

.propertyPageContainer {
  align-content: 'start';
  justify-content: 'center';
  margin-left: 5em;
}

.container .alignContentLeft {
  justify-content: flex-start;
  text-align: left;
}

.row .alignContentLeft {
  justify-content: flex-start;
  text-align: left;
}

.col .alignContentLeft {
  align-content: left;
  text-align: left;
}

/* For Property & Favorities Page when Loading */
.holdPageOpen {
  height: 50em;
}

/* Amentities Checkboxes */
.spaceAround {
  justify-content: space-around;
}

.marginLeft {
margin-left: 1em;
}

.marginRightMed {
  margin-right: 8em;
}

.spaceBtwn {
  justify-content: space-between;
}


/* Welcome Page */

.card .text {
  color: rgb(30, 52, 69);
}

.container .noPadding  {
  padding: 0px;
  border: 0px;
  border-radius: 0%;
}

.card .noPadding  {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-radius: 0%;
}

.card .centerCenter {
  align-content: center;
  justify-content: center;
}

#killBorder {
  padding: 0px;
  border: 0px;
  border-radius: 0%;
  margin: 0px
}


.favsContainer {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  z-index: 1;
  background: #ffffff;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  box-shadow: none;
}

.row .favsRow {
  justify-content: flex-start;
}

.favsCol {
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.util-zeromargin {
  margin: 0;
}

